{% extends 'clientes/base.html' %}
{% block content %}
<div class="container mb-5">
    <div class="row justify-content-center mt-1">
        <div class="col-md-12 col-sm-12 p-4">
            <form method="POST">
                {% csrf_token %}
                <div class="pt-5">
                    {% for app in aperitivos %}
                    <div class="row">
                        <div class="col-md-2 col-sm-12">
                            <img class="rounded" src="{{ app.imagem.url }}" 
                            width="150" height="100"/>
                        </div>
                        <div class="col-md-8 col-sm-12">
                            <div class="d-flex flex-row">
                                <div class="form-group form-check">
                                    <input type="checkbox" name="items[]" 
                                    class="form-check-input" value="{{ app.pk }}">
                                    
                                    <label class="form-check-label">{{ app.nome }}</label>
                                </div>
                                <p class="font-weight-bold pl-5">{{ app.preco }}</p>
                            </div>
                            <p>{{ app.descricao }}</p>
                        </div>
                    </div>
                    <hr />
                {% endfor %}
                </div>
                <div class="pt-5">
                    {% for entrada in entradas %}
                    <div class="row mt-4">
                        <div class="col-md-2 col-sm-12">
                            <img class="rounded" src="{{ entrada.imagem.url }}"
                             width="150" height="100"/>
                        </div>
                        <div class="col-md-8 col-sm-12">
                            <div class="d-flex flex-row">
                                <div class="form-group form-check">
                                    <input type="checkbox" name="items[]"
                                     class="form-check-input" value="{{ entrada.pk }}">
                                    <label class="form-check-label">{{ entrada.nome }}</label>
                                </div>
                                <p class="font-weight-bold pl-5">{{ entrada.preco }}</p>
                            </div>
                            <p>{{ entrada.descricao }}</p>
                        </div>
                    </div>
                    <hr />
                    {% endfor %}
                </div>
                <div class="pt-5">
                    {% for sobremesa in sobremesas %}
                    <div class="row mt-4">
                        <div class="col-md-2 col-sm-12">
                            <img class="rounded" src="{{ sobremesa.imagem.url }}" 
                            width="150" height="100"/>
                        </div>
                        <div class="col-md-8 col-sm-12">
                            <div class="d-flex flex-row">
                                <div class="form-group form-check">
                                    <input type="checkbox" name="items[]"
                                     class="form-check-input" value="{{ sobremesa.pk }}">
                                    <label class="form-check-label">{{ sobremesa.nome }}</label>
                                </div>
                                <p class="font-weight-bold pl-5">{{ sobremesa.preco }}</p>
                            </div>
                            <p>{{ sobremesa.descricao }}</p>
                        </div>
                    </div>
                    <hr />
                    {% endfor %}
                </div>
                <div class="pt-5">
                    {% for bebida in bebidas %}
                    <div class="row mt-4">
                        <div class="col-md-2 col-sm-12">
                            <img class="rounded" src="{{ bebida.imagem.url }}" 
                            width="150" height="100"/>
                        </div>
                        <div class="col-md-8 col-sm-12">
                            <div class="d-flex flex-row">
                                <div class="form-group form-check">
                                    <input type="checkbox" name="items[]" 
                                    class="form-check-input" value="{{ bebida.pk }}">
                                    <label class="form-check-label">{{ bebida.nome }}</label>
                                </div>
                                <p class="font-weight-bold pl-5">{{ bebida.preco }}</p>
                            </div>
                            <p>{{ bebida.descricao }}</p>
                        </div>
                    </div>
                    <hr />
                    {% endfor %}
                </div>
                <div class="form-group pt-3">
                    <label for="name">Nome Completo</label>
                    <input required class="form-control" type="text" 
                    placeholder="Seu nome" name="name" />
                </div>
                <div class="form-group pt-3">
                    <label for="email">Email</label>
                    <input required class="form-control" type="text" 
                    placeholder="example@company.com" name="email" />
                </div>
                <div class="form-group pt-3">
                    <label for="street">Rua</label>
                    <input required class="form-control" type="text" 
                    placeholder="1234 Main St" name="street" />
                </div>
                
                <div class="row">
                    <div class="col-md-4 col-sm-12">
                        <div class="form-group pt-3">
                            <label for="city">Cidade</label>
                            <input required class="form-control" type="text" 
                            placeholder="San Francisco" name="city" />
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-12">
                        <div class="form-group pt-3">
                            <label for="state">Estado</label>
                            <input required class="form-control" type="text" 
                            placeholder="CA" name="state" />
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-12">
                        <div class="form-group pt-3">
                            <label for="zip">CEP</label>
                            <input required class="form-control" type="text" 
                            placeholder="94117" name="zip" />
                        </div>
                    </div>
                </div>
                <button type="button" class="btn btn-dark" data-toggle="modal" 
                data-target="#submitModal">Submit Order
                </button>

                <!-- Modal -->
                <div class="modal fade" id="submitModal" tabindex="-1" role="dialog" aria-labelledby="submitModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="submitModalLabel">Submit Your Order!</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-light" data-dismiss="modal">Go Back</button>
                          <button type="submit" class="btn btn-dark">Place Order!</button>
                        </div>
                      </div>
                    </div>
                  </div>
                
            </form>
        </div>
    </div>
</div>
{% endblock content %}